{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% for field in form %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="font-weight-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control font-weight-bold " %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>


<style>
   #id_Follow_up, label[for="id_Follow_up"]{
    display: none;
}
</style>
<script>
    $( function() {
    $( "#id_expected_purchase_Date").datepicker();
    $( "#id_Follow_up").datepicker();
    $( "#id_Booking_Date").datepicker();
  });

  document.getElementById('id_Visit_status').addEventListener('change', function () {
    var style = this.value == 5 ? 'block' : 'none';
    document.getElementById('id_Follow_up').style.display = style;
});

</script>




{% endfor %}